@model IEnumerable<DTO.RoleDTO>

@{
    ViewBag.Title = "RoleList";
}

<h2>RoleList</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowInsertTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowInsertTime)
            </td>
            <td>
                @Html.ActionLink("Details", "../Role/Details", new { id = item.RoleID }) 
            </td>
        </tr>
    }

</table>
