@model IEnumerable<DTO.UserDTO>

@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>

<p>
    @Html.ActionLink("Create New", "../User/Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowInsertTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowUpdateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowInsertTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowUpdateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "../User/Edit", new {  id=item.UserID }) |
            @Html.ActionLink("Details", "../User/Details", new { id = item.UserID }) |
            @Html.ActionLink("Delete", "../User/Delete", new { id = item.UserID })
        </td>
    </tr>
}

</table>
