@model WebApplication.Models.RoleViewModel

<div>
    <h4>RoleViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowInsertTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowInsertTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "../Home/RoleList")
</p>
